@use "../../assets/sass/abstracts/variables" as *;
.technology-manager {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1em;
  
.svg-react{
    width: 1em;
    height: 1em;
    fill:currentColor;
}
&-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
    max-width: 500px;
  }
  &-content {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    padding: 0.5em;
    align-items: center;
  }

  .item_group {
    display: flex;
    gap: 0.5rem;

    input {
        width: max-content;
    }

    input[type="checkbox"]:checked {
      accent-color: $secondary-color;
      color: white !important;
      fill: white !important;
      border-bottom-color: white !important;
    }
  }
}
