@use "../../assets/sass/abstracts/variables" as *;

.files-naming {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  background-color: $background-light;
  border-radius: 5px;
  padding: 1em;

  &-header{
    display: flex;
    flex-direction: column;
    gap: 3px;
    max-width: 100%;
 
    .penNib{
      fill: currentColor;
      width: 0.8em;
      height: 0.8em;
    }
  }

  &-table{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    min-width: 450px;
    width: 100%;
    max-width: 650px;

    .table-header{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0.5em 1.3em;
      padding-right: 2em;
      border-radius: 5px;
      background-color: $background-medium;
      color: white;
    }
  }

  &-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.1s ease-in-out;
    padding: 0.2em 0.5em;
    border-radius: 5px;

    &:hover {
      background-color: $background-medium;
    }
    &:focus-within {
      background-color: $background-medium;
    }

    p {
      font-size: small;
    }
  }

  .thumbnail {
    width: 80px;
    height: 50px;
    object-fit: cover;
  }
  input {
    width: 100%;
    max-width: 200px;
    border-radius: 5px;
    border-width: 1px;
    padding: 0.5em;
    transition: all 0.2s ease-in-out;
    &:focus-visible {
      outline: none;
      border-color: $primary-color;
      box-shadow: 0.1em 0.15em 0.2em 0.1rem $primary-color-shadow;
    }
  }
}
